# üêº Pandas - Lesson 01: Introduction
üìÖ Date: October 13, 2025

---

### üí° What I learned today
- What is Pandas and why it‚Äôs used
- How to create a simple DataFrame
- How to save in an Excel file
- How to use `.head()` to preview data

In [3]:
import pandas as pd

data = [
    {'product_name': 'Chocolate', 'price': 10, 'sales': 200},
    {'product_name': 'Body cream', 'price': 40, 'sales': 150},
    {'product_name': 'Car', 'price': 80000, 'sales': 40}
]

sales_df = pd.DataFrame(data)

sales_df.to_excel("01_introduction.xlsx", index=False)

sales_df.head()

  product_name  price  sales
0    Chocolate     10    200
1   Body cream     40    150
2          Car  80000     40